/* Scheme colors
------------------

*/

body{
background-color: white;
background-attachment: fixed;
font-family: Verdana;
font-size: 15px;
} 

h1{
position: fixed;
text-align: center;
color: white;
background-color: black;
padding: 5px;
right: 0;
top: 0;
left: 0;
margin-top: 0;
}

h2{
display: none;
}

footer{
position: fixed;
right: 0;
bottom: 0;
left: 0;
padding: 5px;
background-color: black;
text-align: center;
color: white;
font-size: 11px;
}

.main{
top: 155px;
position: absolute;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
height: 500px;
text-align: center; 
min-width: 1000px;
}

.main2{
top: 50px;
position: absolute;
border: 1px solid black;
padding: 10px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
text-align: left;
width: 978px;
}

.window{
display: inline-block;
width: 500px;
height: 500px;
background: black;
margin-left: -3px;
margin-right: -3px;
margin-top: -3px;
}

#seekBusStops{
height: 65px;
}